footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
    background: #44a896;
    text-align: center;
}
footer section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
footer section div h2 {
    margin-bottom: 0.1em;
}
footer section div a {
    display: block;
    text-decoration: none;
}