table {
    width: 99%;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
}

thead {
    width: 100%;
    display: table;
    table-layout: fixed;
}

tbody {
    width: 100%;
    display: block;
    overflow: auto;
    max-height: 40vh;
}

tbody tr {
    width: 100%;
    display: table;
    table-layout: fixed;
    border-top: solid 1px black;
}

tbody tr td~td {
    border-left: dashed 1px black;
}

thead th:nth-child(1), tbody td:nth-child(1) {
    width: auto;
}
thead th:nth-child(2), tbody td:nth-child(2) {
    width: 20%;
}
thead th:nth-child(3), tbody td:nth-child(3) {
    width: 20%;
}
thead th:nth-child(4), tbody td:nth-child(4) {
    width: 10%;
}